html { 
    background-color: burlywood;
    width: 100%;
    margin-right: auto;
    margin-left: auto; 
    padding: 0; 
    font-family: 'Helvetica', 'Arial'; /* initial fonts */
   }
body{
    width: 70%;
    height: 100%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto; 
    padding: 0; 
    font-family: 'Helvetica', 'Arial'; /* initial fonts */

}
  
   .normal-wrapper { 
    width: 70%; 
    margin: 0 auto; 
    padding: 15px 40px; 
    background: none; 
    overflow: auto;
   }
   .logo-icon { 
    color: #000000; 
    font-size: 60pt; 
    float: left;
   }
   #tieude{
    padding-left: 5%;
    padding-top: 2%; 
    font-size: 37pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   }
   #menu { 
    list-style-type: none; /* remove bullet points */ 
    font-size: 22pt;
    padding-left: 50%;
   }
   #menu li { 
    display: inline; /* make items horizontal */
   }
   #menu li a:link, #menu li a:visited, #menu li a:active { 
    text-decoration: none; /* remove underline */ 
    color: #000000; 
    padding: 0 16px 0 10px; /* space links apart */ 
    margin: 0; 
    border-right: 2px solid #B4B4B4; /* divider */
   }
   #menu li a:link.last-link { 
    /* remove divider */ 
    border-right: 0px;
   }
   #menu li a:hover { 
    /* change color on hover (mouseover) */ 
    color: #EB6361;
   }
   
   #sec1,#sec5,#sec7{ 
    width: 50%; 
    float: left; 
    box-sizing: border-box; /* ensure padding and borders do not increase the size */ 
    margin-top: 20px;
   }
   #sec3{ 
    width: 50%; 
    float: right; 
    box-sizing: border-box; /* ensure padding and borders do not increase the size */ 
    margin-top: 20px;
   }
   #sec2,#sec6,#sec8 { 
    width: 50%; 
    float: left; 
    box-sizing: border-box; /* ensure padding and borders do not increase the size */ 
    padding-left: 40px; 
    text-align: right; 
    margin-top: 20px;
   }
   
   .featured-image { 
    max-width: 500px; /* reduce image size while maintaining aspect ratio */
   }
   .no-margin-top { 
    margin-top: 0; /* remove margin on things like headers */
   }
   footer { 
    background: #363636; 
    color: #FFFFFF; 
    text-align: center; 
    position: fixed;
    left: 15%;
    bottom: 0;
    width: 70%;
   }
   h3 { 
    font-weight: normal; 
    font-size: 20pt; 
    margin-top: 0px;
   }
   h4 { 
    font-weight: normal; 
    font-size: 16pt; 
    margin-bottom: 0;
   }
   .hidden { 
    display: none;
   }
   span{float: right;
    color:black;
    background-color: lightblue;

   }
   #sec5,#sec6,#sec7,#sec8{
       display: none;
   }
   section{
       height: 500px;
   }
  header{
      position: fixed;
      width: 70%;
      height: 170px;
      left: 15%;
      right: 0;
      background-color: lightblue;
        
    }
    #sec1,#sec2,#sec5,#sec6,#sec7,#sec8{
        margin-top: 175px;
    }
    #cuoitrang {
        padding-left: 56%;
    }