header,nav,section,footer{
    border: solid 1px red;
    display: block;
}
header{
    background-color: aqua;
    width: 50%;
}
nav{
    width: 40%;
    background-color: aquamarine;
}
img{
    width: 450px;
}